/* ------ */
/* SLIDER */
/* ------ */

/* ------ */
/* SLIDES */
/* ------ */

.slides-wrapper {
    width: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

    .slide.active {
        display: block;
    }

    .slide_img {
        width: 100%;
        height: 100%;
    }

.slide_content {
    padding: 64px;
    color: var(--color-d);
    background-color: rgb(60 60 60 / 40%);
}

    @media only screen and (min-width: 720px) {
        .slide_content {
            position: absolute;
            top: 0%;
            left: 0;
            right: 0;
            z-index: 10;
            overflow: hidden;
            width: 75%;
            margin: 10% auto;
            padding: 32px;
        }
    }

    .slide-content__header {
        color: var(--color-d);
    }

    .slide-content__text {
        color: var(--color-d);
    }

.slides-wrapper .slide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

/* ------- */
/* BUTTONS */
/* ------- */

#btn-previous, #btn-next {
    position: absolute;
    left: auto;
    right: auto;
    top: 50%;
    height: 4ch;
    width: 2ch;
    background-color: var(--color-c);
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    color: var(--color-d);
    font-size: 32px;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #btn-previous:hover, #btn-next:hover {
        opacity: 0.8;
    }

    #btn-previous::selection, #btn-next::selection {
        background-color: transparent;
    }

#btn-previous {
    left: 0;
    right: auto;
}

#btn-next {
    left: auto;
    right: 0;
}

/* Dots */

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-c);
    opacity: 0.4;
    margin-right: 16px;
    cursor: pointer;
}

    .dot:last-child {
        margin-left: 0;
    }

    .dot.active {
        background-color: var(--color-c);
        opacity: 1;
    }

